h3{
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 20px;
    font-size: 40px;
}
.container{
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
}
p{
    opacity: 0.5;
    font-size: 18px;
    text-align: justify;
}
.cols{
    padding-left: 30px;
}
.center-image{
        display:block;
        margin: auto;
    }
.icon-large{
         font-size: 30px;
    }

    .center-image{
        display:block;
        margin: 0 auto;
    }
    .icon-large{
         font-size: 30px;
    }